<template>
  <div>
    <div v-for="action in actions" :key="action.id">
      <div v-if="action.disabled" class="disabled">{{ action.name }}</div>
      <a :href="actionLink(action.id)" target="Action" v-else>{{
        action.name
      }}</a>
    </div>
  </div>
</template>

<script lang="ts">
import { Action } from '@/model/actions'
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Actions extends Vue {
  @Prop({ type: Array, default: () => [] }) readonly actions!: Action[]
  @Prop({ type: String, required: true }) readonly target!: string

  doAction (id: string): void {
    if (this.$window.top !== null) {
      this.$window.top.frames[1].frames[1].location.href = `Play_action.php?ai_ToDo=${id}&ai_IDTarget=${this.target}`
    }
  }

  get actionLink () {
    return (id: number): string => `Play_action.php?ai_ToDo=${id}&ai_IDTarget=${this.target}`
  }
}
</script>

<style scoped>
.disabled {
  opacity: 0.6;
  font-weight: lighter;
}
</style>
