<template>
  <div class="events">
    <div class="loading" v-if="loading.scizEvents">
      Chargement des événements depuis SCIZ…
    </div>
    <div class="loading" v-if="loading.mhEvents">
      Chargement des événements…
    </div>
    <div v-else-if="displayedEvents.length === 0">Pas d’événement…</div>
    <div
      v-else
      class="event"
      v-for="(event, index) in displayedEvents"
      :key="index"
    >
      <div class="event-datetime">
        <div class="event-date" v-if="showYear(event.date)">
          {{ dateFormat(event.date, "dd MMM yyyy") }}
        </div>
        <div class="event-date" v-else-if="showDate(event.date)">
          {{ dateFormat(event.date, "dd MMM") }}
        </div>
        <div class="event-date hidden" v-else-if="!onlyToday">
          {{ dateFormat(event.date, "dd MMM") }}
        </div>
        <div class="event-time">{{ dateFormat(event.date, "HH:mm:ss") }}</div>
      </div>
      <div v-if="event.scizEvent" class="sciz-event event-message">
        <img
          :src="`https://www.sciz.fr/static/${event.scizEvent.icon}`"
          class="sciz-icon"
        />
        {{ formatSCIZEvent(event.scizEvent) }}
      </div>
      <div class="mh-event event-message" v-else>
        {{ formatMHEvent(event) }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { format as dateFormat, subDays, isBefore } from 'date-fns'
import fr from 'date-fns/locale/fr'
import { ModelObject } from '@/model'
import { MHEvent } from '@/model/events'
import { Monster, Troll, TrollRace } from '@/model/mhtypes'
import { SCIZEvent } from '@/model/sciz'
import { loadEvents, loadSCIZEvents } from '@/parser'

@Component
export default class EventList extends Vue {
  @Prop({ type: Object, required: true }) readonly mhObject!: ModelObject<Troll | Monster>
  @Prop({ type: [String, Function], required: true }) readonly eventURI!: string | ((mhObject: ModelObject<Troll | Monster>) => string)
  @Prop({ type: String, default: '#events, body > table:nth-of-type(2)' }) readonly tableSelector!: string

  loading = {
    mhEvents: false,
    scizEvents: false
  }

  now = Date.now()
  yearThreshold = subDays(this.now, 200)
  dateThreshold = subDays(this.now, 1)

  dateFormat (date: number | Date, format: string): string {
    return dateFormat(date, format, { locale: fr })
  }

  created (): void {
    this.loadEvents()
  }

  showYear (date: Date): boolean {
    return isBefore(date, this.yearThreshold)
  }

  showDate (date: Date): boolean {
    return isBefore(date, this.dateThreshold)
  }

  get onlyToday (): boolean {
    return !this.showDate(this.displayedEvents[this.displayedEvents.length - 1].date)
  }

  get displayedEvents (): MHEvent[] {
    const events = this.mhObject.extended.events.sort()
    return [...events].reverse()
  }

  get regexpMonsterName (): string {
    return `${this.mhObject.name.replace(/[.*+\-?^${}()|[\]\\]/g, '\\$&')} \\( ?${this.mhObject.id} ?\\)`
  }

  get completeURI (): string {
    if (typeof this.eventURI === 'string') {
      return this.eventURI
    }
    return this.eventURI(this.mhObject)
  }

  formatTrollEvent (event: MHEvent): string {
    let message = event.description.replace(new RegExp(`^${this.regexpMonsterName} (.+ sur) ${this.regexpMonsterName}$`), 'Il $1 lui-même.')
    message = message.replace(new RegExp(`^${this.regexpMonsterName}`), 'Il')
    message = message.replace(new RegExp(`sur ${this.regexpMonsterName}$`), 'sur lui.')
    message = message.replace(new RegExp(` ${this.regexpMonsterName} qui`), '. Il')
    return message
  }

  formatMHEvent (event: MHEvent): string {
    if (this.mhObject.type instanceof TrollRace) {
      return this.formatTrollEvent(event)
    }
    const regexp = ` +${this.regexpMonsterName}`
    let message = event.description.replace(new RegExp(regexp), '')
    if (message.endsWith(' sur un')) {
      message = message.slice(0, -6) + 'sur lui'
    } else if (message.endsWith(' sur une')) {
      message = message.slice(0, -7) + 'sur elle'
    } else if (message.startsWith('un ')) {
      message = 'Il' + message.slice(2)
    } else if (message.startsWith('une ')) {
      message = 'Elle' + message.slice(3)
    }
    return message
  }

  formatSCIZEvent (event: SCIZEvent): string {
    let message = event.message.substring(event.time.length + 1)
    if (message.includes(this.mhObject.name)) {
      const regexp = ` (?:de|sur) ${this.regexpMonsterName}`
      message = message.replace(new RegExp(regexp), '')
    }
    return message
  }

  async loadEvents (): Promise<void> {
    if (this.loading.mhEvents || this.loading.scizEvents || new Date().getTime() - this.mhObject.extended.events.lastRefresh.getTime() < 5 * 60 * 1000) {
      return
    }
    this.loading.mhEvents = true
    const events = await loadEvents(this.completeURI, this.tableSelector)
    const monsterEvents = this.mhObject.extended.events
    monsterEvents.splice(0, Number.MAX_SAFE_INTEGER, ...events)
    monsterEvents.lastRefresh = new Date()
    monsterEvents.sort()
    this.loading.mhEvents = false

    if (monsterEvents.length === 0) {
      return
    }

    const [begin, end] = [monsterEvents[0].date, monsterEvents[monsterEvents.length - 1].date]
    this.loading.scizEvents = true
    monsterEvents.attachEvents(await loadSCIZEvents(this.mhObject.id, begin, end))
    this.loading.scizEvents = false
  }
}
</script>

<style scoped>
.loading {
  font-style: italic;
  will-change: opacity;
  animation: glow 500ms ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.events {
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.event-datetime {
  margin-right: 0.5em;
  display: flex;
}

.event-date {
  margin-right: 0.5em;
}

.event-date.hidden {
  visibility: hidden;
}

.event-message {
  max-width: 35em;
}

.sciz-event {
  background-color: rgb(196, 227, 255);
}

.sciz-icon {
  height: 12px;
}
</style>
