<template>
  <VueSvgGauge
    :value="value"
    :separator-step="0"
    :min="0"
    :max="max"
    :gauge-color="gaugeColor"
    :scale-interval="0"
    :transition-duration="0"
    :inner-radius="0"
  >
    <div class="inner-text">
      <span :style="{ color: healthColor }">{{ Math.round(value) }}</span>
    </div>
  </VueSvgGauge>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { getHealthColor, GOOD_HEALTH_COLOR, toColorString } from '@/utils'

@Component
export default class LifeGauge extends Vue {
  @Prop({ type: Number, required: true }) readonly max!: number
  @Prop({ type: Number, required: true }) readonly value!: number

  get healthColor (): string {
    const finalColor = getHealthColor(Math.min(this.value / this.max, 1.0))
    return toColorString(finalColor)
  }

  get gaugeColor (): string {
    return `rgba(${GOOD_HEALTH_COLOR.join(',')},0.3)`
  }
}
</script>

<style scoped>
.inner-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-text > span {
  font-size: 4.25rem;
  font-weight: bold;
}
</style>
