<template>
  <PinCard
    :actions="actions"
    :actionTarget="`ME_${monster.id}`"
    :class="{ 'mission-target': isMissionTarget }"
  >
    <template v-slot="{ extended }">
      <div :class="['health', extended ? 'extended' : 'short']">
        <LifeGauge
          v-if="currentWound !== undefined"
          :value="100 - currentWound"
          :style="{
            marginLeft: '-2px',
            marginRight: '2px',
          }"
        />
        <component
          :is="extended ? 'a' : 'span'"
          :href="`javascript:EMV(${monster.id})`"
          class="monster-name"
        >
          {{ extended  ? fullName : shortName }}
        </component>
        <span
          class="level"
          v-if="level"
          :style="{ backgroundColor: levelColor }"
          >{{ level }}</span
        >
        <span class="badges" v-if="badges">{{ badges }}</span>
      </div>
    </template>
    <template #extended>
      <div class="monster-details">
        <div class="first-column">
          <div v-if="isMissionTarget" class="missions">
            <div
              v-for="mission in monster.extended.missions"
              :key="mission.number"
            >
              Cible de mission : {{ mission.libelle }} ({{ mission.number }})
            </div>
          </div>
          <EventList
            :mhObject="monster"
            :eventURI="
              (mhObject) =>
                `/mountyhall/View/MonsterView.php?ai_IDPJ=${mhObject.id}`
            "
          />
        </div>
        <div class="monster-features mh_tdborder" v-if="mz">
          <div>Famille</div>
          <div>{{ mz.fam }}</div>
          <div>Niveau</div>
          <div>{{ showInterval(mz.niv) }}</div>
          <div>Points de vie</div>
          <div>{{ showInterval(mz.pv) }}</div>
          <template v-if="currentHP">
            <div>Points de vie restants</div>
            <div>{{ showInterval(currentHP) }}</div>
          </template>
          <div>Attaque</div>
          <div>{{ showInterval(mz.att, "D6") }}</div>
          <div>Esquive</div>
          <div>{{ showInterval(mz.esq, "D6") }}</div>
          <div>Dégâts</div>
          <div>{{ showInterval(mz.deg, "D3") }}</div>
          <div>Régéneration</div>
          <div>{{ showInterval(mz.reg, "D3") }}</div>
          <div>Arm. physique</div>
          <div>{{ showInterval(mz.armP) }}</div>
          <div>Arm. magique</div>
          <div>{{ showInterval(mz.armM) }}</div>
          <div>Arm. totale</div>
          <div>{{ showInterval(mz.arm) }}</div>
          <div>Vue</div>
          <div>{{ showInterval(mz.vue, "cases") }}</div>
          <div>Maîtrise magique</div>
          <div>{{ showInterval(mz.MM) }}</div>
          <div>Résistance magique</div>
          <div>{{ showInterval(mz.RM) }}</div>
          <div>Durée tour</div>
          <div>{{ showInterval(mz.duree) }}</div>
          <template v-if="mz.pouv">
            <div>Pouvoir</div>
            <div>{{ mz.pouv }}</div>
          </template>
        </div>
      </div>
    </template>
  </PinCard>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import PinCard from '@/components/PinCard.vue'
import EventList from '@/components/EventList.vue'
import { ModelObject } from '@/model'
import { Monster, MonsterType } from '@/model/mhtypes'
import { Interval, MZMonster } from '@/model/mountyzilla'
import { getColorInGradient } from '@/utils'
import { Action } from '@/model/actions'

@Component({
  components: {
    PinCard,
    EventList
  }
})
export default class MonsterCard extends Vue {
  @Prop({ type: Object, required: true }) readonly monster!: ModelObject<Monster>

  get mz (): MZMonster | null {
    return this.monster.extended.mz
  }

  get actions (): Action[] {
    const actions = [
      ...this.$store.actions.monster ?? [],
      ...(this.monster.distance === 0 ? this.$store.actions.closeAttack ?? [] : []),
      ...this.$store.actions.distantAttack ?? []
    ]
    return actions
  }

  get levels (): Interval {
    if (this.mz?.niv === undefined || this.mz.niv.max === 0) {
      return {}
    }
    return this.mz.niv.min === -1
      ? {}
      : this.mz.niv
  }

  get level (): string {
    if (this.mz?.niv === undefined || this.mz.niv.max === 0) {
      return ''
    }
    return this.mz.niv.min === -1
      ? 'variable'
      : this.mz.niv.min === this.mz.niv.max
        ? (this.mz.niv.min?.toString() ?? 'Inconnu')
        : this.mz.niv.min === undefined
          ? `< ${this.mz.niv.max}`
          : `${this.mz.niv.min}-${this.mz.niv.max}`
  }

  get badges (): string {
    const badges = []
    if (this.mz?.vlc === 1) {
      badges.push('👁️')
    }
    if (this.mz?.attd === 1) {
      badges.push('🏹')
    }
    if (this.mz?.portpouv === 'De zone') {
      badges.push('🞋')
    }
    const template = this.monster.extended.template
    if (template !== null) {
      if (template === 'Nécromant') {
        badges.push('🧙')
      } else if (template === 'Ronfleur') {
        badges.push('💤')
      } else if (['Psychophage', 'Lobotomisateur', 'Fustigateur'].includes(template)) {
        badges.push('🧠')
      } else if (['Poisseux', 'Trappeur'].includes(template)) {
        badges.push('🪤')
      } else if (['Éthéré', 'Planqué', 'Homochrome', 'Homomorphe', 'Spectral'].includes(template)) {
        badges.push('🕵️')
      }
    }
    if (this.monster.type === MonsterType.FLAGELLEUR_MENTAL) {
      badges.push('🧠')
    } else if ([MonsterType.GECK_OO, MonsterType.GECK_OO_MAJESTUEUX].includes(this.monster.type)) {
      badges.push('🕵️')
    }
    return badges.join('')
  }

  get shortName (): string {
    const markName = this.monster.extended.mark === null ? '' : ` - ${this.monster.extended.mark}`
    return this.monster.type?.nickname !== undefined ? `${this.monster.type.nickname}${markName}` : this.monster.name
  }

  get fullName (): string {
    return `${this.monster.name} (${this.monster.id})`
  }

  get currentWound (): number | undefined {
    if (this.mz?.bless === undefined) {
      return
    }
    const delay = Date.now() - new Date(this.mz?.timegmt * 1000).getTime()
    // 5 days, data is obsolete
    return delay < 5 * 86400 * 1000 ? this.mz.bless : undefined
  }

  get currentHP (): Interval | undefined {
    const fullHP = this.mz?.pv
    if (this.currentWound === undefined || fullHP === undefined) {
      return undefined
    }

    const factor = 1 - (this.currentWound / 100)

    return {
      min: fullHP.min ? Math.round(fullHP.min * factor) : undefined,
      max: fullHP.max ? Math.round(fullHP.max * factor) : undefined
    }
  }

  get levelColor (): string {
    const ratio = (this.levels.min ?? 0) / 44
    const finalColor = getColorInGradient(ratio, {
      0: [170, 255, 212],
      0.5: [107, 137, 194],
      1: [255, 72, 72]
    })
    return `rgba(${finalColor.join(',')}, 0.5)`
  }

  showInterval (interval?: Interval, unit = ''): string {
    if (interval === undefined) {
      return '❔'
    } else if (interval.min === interval.max) {
      return `${interval.min} ${unit}`
    } else if (interval.min === undefined) {
      return `⩽${interval.max} ${unit}`
    } else if (interval.max === undefined) {
      return `⩾${interval.min} ${unit}`
    }
    const mean = (interval.min + interval.max) / 2
    return `${mean} ${unit} (${interval.min} à ${interval.max})`
  }

  get isMissionTarget (): boolean {
    return this.monster.extended.missions.length > 0
  }
}
</script>

<style scoped>
.health {
  display: flex;
  align-items: center;
}

.badges {
  margin-left: 2px;
}

.health >>> .gauge {
  max-width: 32px;
}

.monster-name {
  flex-grow: 1;
}

.level {
  border-radius: 5px;
  display: inline;
  padding: 0.1em 0.2em;
  font-size: 90%;

  margin-left: 2px;
}

.monster-details {
  display: flex;
}

.monster-details > :not(:first-child) {
  margin-left: 0.5em;
}

.monster-features {
  align-self: flex-start;

  display: grid;
  grid-template-columns: 8em 12em;

  background-color: unset;
}

.monster-features > * {
  padding: 0.1em 0.2em;
}

.monster-features > :nth-child(4n),
.monster-features > :nth-child(4n + 3) {
  background: rgb(226, 226, 226, 0.4);
}

.first-column {
  flex-basis: 50%;
}

.mission-target {
  border-bottom: 2px solid rgba(255, 0, 0, 0.75);
}

.missions > * {
  text-align: center;
  color: rgba(255, 0, 0, 0.75);
}
</style>
