<template>
  <div class="wrapper" @mouseenter="onMouseEnter" @mouseleave="onMouseLeave">
    <slot :extended="false" />
    <div
      v-if="showCard"
      :class="{ card: true, pinned: pinCard, invisible: !extendedPositioned }"
      ref="extendedCard"
      :style="{ left: `${extendedOffset}px` }"
    >
      <slot :extended="true" />
      <div class="spacer" />
      <div class="extension">
        <slot name="extended" />
        <slot name="actions">
          <Actions :actions="actions" :target="actionTarget" />
        </slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import Actions from '@/components/Actions.vue'
import { Action } from '@/model/actions'

@Component({
  components: {
    Actions
  }
})
export default class PinCard extends Vue {
  @Prop({ type: Array, default: () => [] }) readonly actions!: Action[]
  @Prop({ type: String, default: '' }) readonly actionTarget!: string | undefined

  $refs!: {
    extendedCard: HTMLDivElement
  }

  showCard = false
  pinCard = false
  extendedPositioned = false
  extendedOffset = -1
  timer = 0

  onMouseEnter (): void {
    clearTimeout(this.timer)
    if (this.showCard || !this.hasExtended) {
      return
    }
    this.timer = setTimeout(() => {
      this.showCard = true
      this.$nextTick(() => {
        const bound = this.$refs.extendedCard.getBoundingClientRect()
        const extra = bound.x + bound.width - document.body.offsetWidth + 10
        if (extra > 0) {
          this.extendedOffset = -extra
        }
        this.extendedPositioned = true
      })
    }, 200)
  }

  onMouseLeave (): void {
    clearTimeout(this.timer)
    if (!this.showCard) {
      return
    }
    this.timer = setTimeout(() => {
      this.showCard = false
      this.extendedPositioned = false
      this.extendedOffset = -1
    }, 200)
  }

  get hasExtended (): boolean {
    return this.$slots.extended !== undefined
  }
}
</script>

<style scoped>
.wrapper {
  position: relative; /* To be able to set position for card */
}

.card {
  position: absolute;
  border: 1px solid grey;
  /* Compensate border  */
  top: -1px;
  max-width: 80vw;
  width: max-content;
  z-index: 2;
  background-color: white;
}

.card.invisible {
  visibility: hidden;
}

.spacer {
  width: 100%;
  padding: 0.2em 0;
}

.extension {
  display: flex;
}

.extension > *:not(:first-child) {
  margin-left: 1em;
}
</style>
