<template>
  <PinCard>
    <template v-slot="{ extended }">
      <div :class="['health', extended ? 'extended' : 'short']">
        <component v-if="isLinkable" :is="extended ? 'a' : 'span'" :href="link">
          {{ place.name }}
        </component>
        <template v-else>
          {{ place.name }}
        </template>
      </div>
    </template>
    <template #extended>
      <div
        class="place-unloaded-services"
        v-if="!serviceLoaded"
        @click="loadServices"
      >
        Voir les services…
      </div>
      <div v-else class="place-details">
        <template v-if="place.extended.owner">
          <div>Propriétaire</div>
          <div>{{ place.extended.owner }}</div>
        </template>
        <template v-if="place.extended.services.length > 0">
          <div>Services</div>
          <div class="services">
            <span v-for="service in place.extended.services" :key="service">{{
              service
            }}</span>
          </div>
        </template>
      </div>
    </template>
  </PinCard>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import PinCard from '@/components/PinCard.vue'
import { ModelObject } from '@/model'
import { Place, PlaceType } from '@/model/mhtypes'
import { loadServices } from '@/parser'

@Component({
  components: {
    PinCard
  }
})
export default class PlaceCard extends Vue {
  @Prop({ type: Object, required: true }) readonly place!: ModelObject<Place>

  get link (): string {
    if (this.place.type === PlaceType.LAIR) {
      return `javascript:Enter('/mountyhall/View/TaniereDescription.php?ai_IDLieu=${this.place.id}', 750, 500)`
    }
    return ''
  }

  get isLinkable (): boolean {
    return this.place.type === PlaceType.LAIR
  }

  async loadServices (): Promise<void> {
    if (this.place.type === PlaceType.LAIR && this.place.extended.owner === null) {
      this.place.extended = await loadServices(this.place)
    }
  }

  get serviceLoaded (): boolean {
    return this.place.type !== PlaceType.LAIR || this.place.extended.owner !== null
  }
}
</script>

<style scoped>
.place-unloaded-services {
  cursor: pointer;
}

.place-details {
  display: grid;
  grid-template-columns: auto auto;
}

.place-details > * {
  padding: 0.1em 0.2em;
}

.place-details > :nth-child(2n) {
  max-width: 10em;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.services > span {
  padding: 0.1em 0.2em;
}
</style>
