<template>
  <div class="settings">
    <h2>Réglages</h2>
    <div class="st sciz">
      <h3>SCIZ</h3>
      <div v-for="(token, index) in scizTokens" :key="index">
        <label>
          Jeton SCIZ
          <input
            type="text"
            :name="storeKeys.scizTokens"
            v-model="scizTokens[index]"
          />
        </label>
        <button @click="scizTokens.splice(index, 1)">−</button>
      </div>
      <button @click="scizTokens.push('')" :disabled="!canAddSCIZ">+</button>
    </div>
    <div class="st bricol">
      <h3>Bricol’Trolls</h3>
      <form v-for="(options, index) in bricolTrolls" :key="index">
        <label>
          Nom
          <input type="text" name="namebricol" v-model="options.name" />
        </label>
        <label>
          Identifiant
          <input type="text" name="loginbricol" v-model="options.login" />
        </label>
        <label>
          Mot de passe
          <input
            type="password"
            name="passwordbricol"
            v-model="options.password"
          />
        </label>
        <button @click="bricolTrolls.splice(index, 1)">−</button>
      </form>
      <button
        @click="bricolTrolls.push({ name: '', login: '', password: '' })"
        :disabled="!canAddBricol"
      >
        +
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'

import { LS_STORE_KEYS, BricolOptions } from '@/utils'

@Component
export default class SettingPanel extends Vue {
  storeKeys = LS_STORE_KEYS
  scizTokens: string[] = []
  bricolTrolls: BricolOptions[] = []

  async created (): Promise<void> {
    const oldToken = localStorage.getItem(this.storeKeys.scizToken)
    if (oldToken !== null) {
      this.scizTokens = [oldToken]
      this.saveSCIZ()
      localStorage.removeItem(this.storeKeys.scizToken)
    }
    this.scizTokens = JSON.parse(localStorage.getItem(this.storeKeys.scizTokens) ?? '[]')
    this.bricolTrolls = JSON.parse(localStorage.getItem(this.storeKeys.bricolCredentials) ?? await GM.getValue(this.storeKeys.bricolCredentials) ?? '[]')
  }

  saveSCIZ (): void {
    localStorage.setItem(LS_STORE_KEYS.scizTokens, JSON.stringify(this.scizTokens.filter(token => token.length !== 0)))
  }

  saveBricol (): void {
    localStorage.setItem(LS_STORE_KEYS.bricolCredentials,
      JSON.stringify(this.bricolTrolls.filter(options => options.name.length !== 0 && options.login.length !== 0 && options.password.length !== 0)))
  }

  get canAddBricol (): boolean {
    if (this.bricolTrolls.length === 0) {
      return true
    }
    const lastElement = this.bricolTrolls.slice(-1)[0]
    return lastElement.name.length !== 0 && lastElement.login.length !== 0 && lastElement.password.length !== 0
  }

  get canAddSCIZ (): boolean {
    if (this.scizTokens.length === 0) {
      return true
    }
    const lastElement = this.scizTokens.slice(-1)[0]
    console.warn('CanAddSCIZ', lastElement, 'in', this.scizTokens)
    return lastElement.length !== 0
  }

  @Watch('bricolTrolls', { deep: true })
  onBricol (): void {
    this.saveBricol()
  }

  @Watch('scizTokens', { deep: true })
  onSCIZ (): void {
    this.saveSCIZ()
  }
}
</script>

<style>
</style>
