<template>
  <PinCard :actions="actions" :actionTarget="`PJ_${troll.id}`">
    <template v-slot="{ extended }">
      <div :class="['health', extended ? 'extended' : 'short']">
        <LifeGauge
          v-if="sciz !== null"
          :max="Math.max(sciz.pdv, sciz.pdv_max)"
          :value="sciz.pdv"
          :style="{
            marginLeft: '-2px',
            marginRight: '2px',
          }"
        />
        <component
          :is="extended ? 'a' : 'span'"
          :href="`javascript:EPV(${troll.id})`"
          class="troll-name"
        >
          {{ troll.name }}
        </component>
        <span class="badges">{{ badges }}</span>
        <img
          v-for="({ image, title }, index) in troll.extended.tags"
          :key="index"
          :src="image"
          :title="title"
          height="15"
        />
        <span v-if="extended && sciz !== null">
          PV {{ sciz.pdv }}/{{ sciz.pdv_max }}
        </span>
      </div>
    </template>
    <template #extended>
      <div class="troll-details">
        <EventList
          :mhObject="troll"
          :eventURI="
            (mhObject) =>
              `/mountyhall/View/PJView_Events.php?ai_IDPJ=${mhObject.id}`
          "
        />
        <div class="troll-features mh_tdborder">
          <div>Guilde</div>
          <div>{{ troll.extended.guild }}</div>
          <div>Niveau</div>
          <div>{{ troll.extended.level }}</div>
          <template v-if="sciz && sciz.fatigue !== undefined">
            <div>Fatigue</div>
            <div>{{ sciz.fatigue }}</div>
          </template>
        </div>
      </div>
    </template>
  </PinCard>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { ModelObject } from '@/model'
import { Troll } from '@/model/mhtypes'
import { SCIZTroll } from '@/model/sciz'
import PinCard from '@/components/PinCard.vue'
import EventList from '@/components/EventList.vue'
import Actions from '@/components/Actions.vue'
import { getHealthColor } from '@/utils'
import LifeGauge from '@/components/LifeGauge.vue'
import { Action } from '@/model/actions'

@Component({
  components: {
    PinCard,
    EventList,
    Actions,
    LifeGauge
  }
})
export default class TrollCard extends Vue {
  @Prop({ type: Object, required: true }) readonly troll!: ModelObject<Troll>

  isMounted = false
  popperOptions = {
    modifiers: {
      flip: {
        enabled: false
      }
    }
  }

  mounted (): void {
    this.isMounted = true
  }

  get badges (): string {
    return this.troll.extended.hidden ? '🕵️' : ''
  }

  get actions (): Action[] {
    const actions = [
      ...this.$store.actions.troll ?? [],
      ...(this.troll.distance === 0 ? this.$store.actions.closeAttack ?? [] : []),
      ...this.$store.actions.distantAttack ?? []
    ]
    return actions
  }

  get sciz (): SCIZTroll | null {
    return this.troll.extended.sciz
  }

  get healthColor (): string {
    if (this.sciz === null) {
      return 'transparent'
    }
    const finalColor = getHealthColor(Math.min(this.sciz.pdv / this.sciz.pdv_max, 1.0))
    return `rgba(${finalColor.join(',')}, 0.5)`
  }
}
</script>

<style scoped>
.health {
  display: flex;
  align-items: center;
}

.badges {
  margin-left: 4px;
}

.health >>> .gauge {
  max-width: 32px;
}

.troll-details {
  display: flex;
}

.troll-details > :not(:first-child) {
  margin-left: 0.5em;
}

.troll-features {
  align-self: flex-start;

  display: grid;
  grid-template-columns: auto auto;

  background-color: unset;
}

.troll-features > * {
  padding: 0.1em 0.2em;
}

.troll-features > :nth-child(4n),
.troll-features > :nth-child(4n + 3) {
  background: rgb(226, 226, 226, 0.4);
}
</style>
