<template>
  <div id="app" :style="mhObjectStyleVariables">
    <div class="controls">
      <button
        class="toggle-view"
        @click="toggleOldView"
        title="Afficher / masquer la vue du serveur"
      >
        ⇄
      </button>
      <button
        class="toggle-settings"
        @click="showSettings = !showSettings"
        title="Afficher / masquer les réglages"
      >
        ⚙
      </button>
      <button @click="reloadPage" title="Recharger la vue">⟳</button>
    </div>
    <SettingPanel v-if="showSettings" class="settings" />
    <div id="main-view" v-show="!showOld" :style="oldStyle">
      <template
        v-for="[position, submodel] in Array.from(modelByLocation)"
        class="cave"
      >
        <div
          :class="['row', submodel.distance >= 0 ? 'distance-step' : undefined]"
          :key="JSON.stringify(position)"
        >
          <div class="position">
            <div class="distance" v-if="submodel.distance >= 0">
              {{ submodel.distance }}
            </div>
            <div class="location">
              <div class="orientation orientation_h">
                {{ orientationHorizontal(position) }}
              </div>
              <div class="orientation orientation_v">
                {{ orientationVertical(position) }}
              </div>
              <div class="position_x">{{ position.x }}</div>
              <div class="position_y">{{ position.y }}</div>
              <div class="position_n">{{ position.n }}</div>
            </div>
          </div>
          <div class="trolls">
            <TrollCard
              v-for="troll in Object.values(submodel.trolls)"
              :key="troll.id"
              class="troll mh_object"
              :troll="troll"
            />
          </div>
          <div class="monsters">
            <MonsterCard
              v-for="monster in Object.values(submodel.monsters)"
              :key="monster.id"
              class="monster mh_object"
              :monster="monster"
            />
          </div>
          <div class="treasures">
            <PinCard
              v-for="treasures in groupTreasures(submodel.treasures)"
              :key="treasures[0].name"
              :actions="treasureActions"
              :actionTarget="`TE_${treasures[0].id}`"
              class="treasure mh_object"
            >
              <template v-slot="{ extended }">
                <div :class="extended ? 'extended' : 'short'">
                  {{
                    extended
                      ? treasures[0].name
                      : treasureNickname(treasures[0])
                  }}
                  <div class="treasure-count" v-if="treasures.length > 1">
                    {{ treasures.length }}
                  </div>
                  <div class="treasure-count" v-else-if="isGG(treasures[0])">
                    {{ countGG(treasures[0]) }}
                  </div>
                </div>
              </template>
              <template #extended>
                <ul class="id-list">
                  <li v-for="treasure in treasures" :key="treasure.id">
                    {{ treasure.id }}
                  </li>
                </ul>
              </template>
            </PinCard>
          </div>
          <div class="places">
            <PlaceCard
              v-for="place in Object.values(submodel.places)"
              :key="place.id"
              class="place mh_object"
              :place="place"
            />
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Model, Position, MODEL_KEYS, ModelObject, ModelObjects } from '@/model'
import { Treasure, TreasureType } from '@/model/mhtypes'
import { buildModel } from '@/parser'
import TrollCard from '@/components/TrollCard.vue'
import MonsterCard from '@/components/MonsterCard.vue'
import PinCard from '@/components/PinCard.vue'
import PlaceCard from '@/components/PlaceCard.vue'
import SettingPanel from '@/components/SettingPanel.vue'
import { Action } from './model/actions'

type GroupedTreasures = Array<Array<ModelObject<Treasure>>>

@Component({
  components: {
    TrollCard,
    MonsterCard,
    PinCard,
    PlaceCard,
    SettingPanel
  }
})
export default class App extends Vue {
  $refs!: {
    mhObjects: HTMLDivElement[]
  }

  model = new Model()
  isMounted = false

  showOld = false
  showSettings = false

  created (): void {
    buildModel(this.model)
  }

  mounted (): void {
    this.isMounted = true
  }

  @Watch('model', { immediate: true })
  onModel (newValue: Model): void {
    console.log('Model is now', newValue)
  }

  toggleOldView (): void {
    this.showOld = !this.showOld
    const element = document.querySelector('div#mhPlay') as HTMLDivElement
    element.style.display = this.showOld ? '' : 'none'
  }

  groupTreasures (treasures: ModelObjects<Treasure>): GroupedTreasures {
    const grouped: {
      [name: string]: Array<ModelObject<Treasure>>
    } = {}

    for (const treasure of treasures.all()) {
      grouped[treasure.name] = [...grouped[treasure.name] ?? [], treasure]
    }
    return Object.values(grouped)
      .sort((a, b) => a[0].name.localeCompare(b[0].name, 'fr'))
  }

  isGG (treasure: ModelObject<Treasure>): boolean {
    return [TreasureType.GIGOT_DE_GOB_WITH_AMOUNT, TreasureType.GIGOT_DE_GOB_WITHOUT_AMOUNT].includes(treasure.type)
  }

  countGG (treasure: ModelObject<Treasure>): string {
    if (treasure.type === TreasureType.GIGOT_DE_GOB_WITHOUT_AMOUNT) {
      return '?'
    }
    const match = treasure.name.match(/^\d+/)
    return match === null ? '?' : (Number.parseInt(match[0]) * 100).toString()
  }

  treasureNickname (treasure: ModelObject<Treasure>): string {
    if (treasure.type.elements.includes(treasure.name)) {
      return treasure.name
    }
    return treasure.type.nickname
  }

  get oldStyle (): Partial<CSSStyleDeclaration> {
    const mhPlayStyle = (document.querySelector('div#mhPlay') as HTMLDivElement).style
    return {
      paddingRight: mhPlayStyle.paddingRight,
      paddingLeft: mhPlayStyle.paddingLeft,
      background: mhPlayStyle.background
    }
  }

  get modelByLocation (): Map<Position, Model> {
    const building = new Map<string, Model>()

    for (const key of MODEL_KEYS) {
      for (const object of this.model[key].all()) {
        const positionKey = JSON.stringify(object.position)
        let submodel = building.get(positionKey)
        if (submodel === undefined) {
          submodel = new Model()
          submodel.distance = object.distance
          building.set(positionKey, submodel)
        }
        submodel[key][object.id] = object
      }
    }

    const result = new Map<Position, Model>()
    let distanceCheck = -1
    Array.from(building.entries()).sort((entry1, entry2) => {
      const relativeDistance = entry1[1].distance - entry2[1].distance
      const relativeX = entry1[1].position.x - entry2[1].position.x
      const relativeY = entry1[1].position.y - entry2[1].position.y
      const relativeN = entry1[1].position.n - entry2[1].position.n
      return relativeDistance !== 0
        ? relativeDistance
        : relativeN !== 0
          ? relativeN
          : relativeX !== 0
            ? relativeX
            : relativeY
    }).forEach(([key, value]) => {
      if (value.distance > distanceCheck) {
        distanceCheck = value.distance
      } else {
        // This is a hack to only show distance when it change
        value.distance = -1
      }
      result.set(JSON.parse(key), value)
    })

    return result
  }

  get mhObjectStyleVariables (): Record<string, unknown> {
    return {
      '--mh-object-background-image': getComputedStyle(document.querySelector('.mh_tdpage') ?? document.createElement('fake')).backgroundImage,
      '--panel-background-image': getComputedStyle(document.querySelector('.mh_tdtitre') ?? document.createElement('fake')).backgroundImage,
      '--panel-border': getComputedStyle(document.querySelector('.mh_tdborder') ?? document.createElement('fake')).border
    }
  }

  orientationVertical (otherPosition: Position): string {
    const myPosition = this.model.position
    return myPosition.n < otherPosition.n
      ? '▲'
      : myPosition.n === otherPosition.n
        ? '⭘'
        : '▼'
  }

  orientationHorizontal (otherPosition: Position): string {
    const myPosition = this.model.position
    let h = ''
    if (otherPosition.x < myPosition.x) {
      if (otherPosition.y < myPosition.y) {
        h = '🡷'
      } else if (otherPosition.y > myPosition.y) {
        h = '🡴'
      } else {
        h = '🡰'
      }
    } else if (otherPosition.x > myPosition.x) {
      if (otherPosition.y < myPosition.y) {
        h = '🡶'
      } else if (otherPosition.y > myPosition.y) {
        h = '🡵'
      } else {
        h = '🡲'
      }
    } else {
      if (otherPosition.y < myPosition.y) {
        h = '🡳'
      } else if (otherPosition.y > myPosition.y) {
        h = '🡱'
      } else {
        h = '⭘'
      }
    }
    return h
  }

  reloadPage (): void {
    location.reload()
  }

  get treasureActions (): Action[] {
    return this.$store.actions.treasure ?? []
  }
}
</script>

<style scoped>
#main-view {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 9ch repeat(4, auto);
  grid-auto-rows: minmax(2em, auto);
}

.controls {
  position: fixed;
  top: 0.2em;
  left: 0.2em;
  display: flex;
  flex-direction: column;
}

.controls > button {
  margin-top: 0.5em;
  background: none;
  border: inset;
  border-radius: 16px;
  font-size: 200%;
  background-color: rgba(189, 189, 189, 0.3);
}

.controls > button:hover {
  background-color: rgba(189, 189, 189);
}

.settings {
  position: fixed;
  top: 10px;
  left: 120px;
  background-image: var(--panel-background-image);
  border: var(--panel-border);
  box-shadow: 0 0 10px #000;
  border-radius: 8px;
  padding: 1em 2em;
  z-index: 10;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  font-size: 90%;

  /* For absolute child on hover */
  position: relative;
}

.position_x,
.position_y,
.position_n {
  text-align: right;
  display: flex;
  align-items: center;
}

.orientation {
  color: rgb(51, 114, 79);
  font-size: 125%;
  text-align: center;
  margin: auto 0;
}

.orientation_h {
  grid-area: orientation_h;
}

.orientation_v {
  grid-area: orientation_v;
}

.position_x {
  grid-area: position_x;
}

.position_y {
  grid-area: position_y;
}

.position_n {
  grid-area: position_n;
}

.row {
  display: contents;
}

.row.distance-step:not(:first-child) > :not(:first-child) {
  border-top-style: solid;
}

.location {
  display: flex;
}

.position_x,
.position_y,
.position_n {
  display: none;
}

.row:hover > *:not(.position) {
  background-color: rgba(235, 235, 235, 0.3);
}

.row:hover .position_x,
.row:hover .position_y {
  display: initial;
}

.row:hover .position_n {
  display: flex;
  justify-content: flex-end;
}

.row:hover .distance {
  display: none;
}

.row:hover .location {
  position: absolute;
  right: 0;
  padding-right: 0.5em;
  background-color: rgba(235, 235, 235, 0.3);

  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "orientation_h position_x"
    "orientation_h position_y"
    "orientation_v position_n";
}

.row:hover .orientation_v,
.row:hover .position_n {
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
}

.distance-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distance {
  background-color: rgba(226, 226, 226, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.1em 0.2em;
  height: 50%;
}

.trolls,
.treasures,
.monsters,
.places {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px dashed grey;
  padding: 4px 0;
  justify-content: center;
  align-items: center;
}

.trolls > *,
.treasures > *,
.monsters > *,
.places > * {
  /* The other solution would be height on container, but it ruins
    the hover effect…
   */
  height: max-content;
}

.row > :last-child {
  border-right: 1px solid grey;
}

.row > :nth-child(2) {
  border-left: 1px solid grey;
}

.row:last-child > :not(:first-child) {
  border-bottom: 1px solid grey;
}

.treasure-count {
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  display: inline;
  padding: 0.1em 0.2em;
  font-size: 90%;
}

.treasure .id-list {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}
</style>

<style>
.mh_object .short,
.mh_object .card {
  background-image: var(--mh-object-background-image);
  margin: 2px;
  border-radius: 0.5em;
  padding: 0.5ex 0.5em;
  height: min-content;
}
</style>
